@model IEnumerable<Dojo.Models.Attendance>

@{
    ViewBag.Title = "Index";
}

<div class="box box-info">

    <div class="box-header with-border">
        <h2>@ViewBag.Title</h2>
    </div>

    <p>
        @Html.ActionLink("Take New Attendance", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
               Firstname
            </th>
            <th>Lastname</th>
        </tr>

        @foreach (var item in Model)
        {
            var date = item.Date.ToString("d/M/yyyy");
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.STUDENT_Fname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.STUDENT_Lname)
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Attendance_ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.Attendance_ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Attendance_ID })*@
                </td>
            </tr>
        }

    </table>
    </div>